/* *   {
    margin: 0px;
    padding: 0px;

} */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Info {
    display: grid;
    grid-template-columns: 420px;
    background-color: rgb(127, 192, 248);

    border-right: 3px solid rgb(87, 87, 87);
    border-bottom: 3px solid rgb(87, 87, 87);;


}

.Info h2:hover {
    opacity: 0.9;
    background-color: #0a9405;
   
    
}

.Info h3 {
    padding-top: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.Info a {
    align-items: center;
    text-align: center;
    margin:20px 100px 0px 100px;
    /* padding-top: 10px; */
    text-decoration: none;
    color: rgb(110, 92, 92);
    border-bottom: 1px solid black;
}

.Info a:hover {
    opacity: 0.9;
    color: rgb(0, 0, 0);
}

body{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: 400;
    /* font-family: Arial, Helvetica, sans-serif; */

    font-family: 'Roboto', sans-serif;

    


    /* font: normal 16px 'Roboto', sans-serif; */


    /* background: #ffffff url("/Img/stars.jpg") no-repeat top center; */
}   


a{
    color: black;
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
}


a:active{
    color: blue;
}


a:visited{
    color: gray
}


h2{
    font-size: 20px;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius:50%;

    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.25);
}


.info p{
    color: #86898f;
    margin: 0px;
    font-style: italic;
    /* text-transform: capitalize; */
    /* text-decoration: overline; */
    /* letter-spacing: 5px; */
    margin-bottom: 20px;
}



.social{
    background-color: wheat ;
    padding: 15px 40px 10px 40px;
    border: 3px solid rgb(0, 0, 0);
    margin: 20px 0 ;
    border-radius: 20px;
}

.container{
    max-width:  1080px;
    min-width: 180px;
    margin: auto;
    
}


.box-model > div{
    float: left;
    background-color: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
/* Свойство одной линии  */
    box-sizing: border-box;
    
    font-size: 120% ;
}

.box-model > p {
    color: white;
}

.card{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: bisque;
    border-radius: 30px;
    border: 3px solid black;
}



.connection{
    padding: 0px 20px;
    background-color:wheat;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: medium;
    margin-top: 30px;
}
.your-message{
    padding: 40px 0;
}

.nav-skills{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: bisque;
    border-radius: 30px;
    border: 3px solid black;

}

.skills dd {
    margin: 0;
    margin-bottom: 10px;
  
    background-color: #e8e8e8;
  }

.skills-level {
    font-size: 12px;
    text-align: center;
    color: #040404;
    background-color: #4470c4;
  }
  
.skills-level-ok {
    background-color: #4470c4;
    }
  
